name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: milkyano/fadedlines-bentleigh:latest
    - name: Build and Deploy to VM
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.PIPELINE_PRIVATE_KEY }}
        port: 22
        script: |
          docker pull milkyano/fadedlines-bentleigh:latest
          docker stop fadedlines-bentleigh || true
          docker rm fadedlines-bentleigh || true
          docker run -d --name fadedlines-bentleigh -p 80:3009 milkyano/fadedlines-bentleigh:latest
